# Virtual env
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Envs & secrets
.env
*.env
.env.*

# Tools
.mypy_cache/
.ipynb_checkpoints/
.dist/
.build/
highlight_shorts/
sports-ai/backend/app/cache/

# Ignore local server log files
server.out.log
server.err.log