# Virtual env
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Envs & secrets
.env
*.env
.env.*

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Tools
.mypy_cache/
.ipynb_checkpoints/
.dist/
.build/
highlight_shorts/
